<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.microsoft.odaf.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<uses-library android:name="com.google.android.maps" />
    	
        <activity android:name=".activities.MainMapActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ChooseDataSourcesActivity" android:label="@strings/choose_data"></activity>
        <activity android:name=".activities.ShowDetailsActivity" android:label="@strings/details" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".activities.ShowComsActivity" android:label="@strings/comments" android:theme="@android:style/Theme.Dialog"></activity>
    </application>
</manifest>