<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2C8B8CF2-90DB-45f0-B8B4-A3D96DBEAFC3</key>
	<string>community.png</string>
	<key>0C244261-26E3-49f9-8EE5-140145E90B6C</key>
	<string>firehall.png</string>
	<key>F29526CF-9A53-44c8-B71A-2D4EAA739F2F</key>
	<string>fountain.png</string>
	<key>25259A77-E237-4701-9213-69A8AC5A87DA</key>
	<string>library.png</string>
	<key>059AEBD2-4960-4500-868D-E57AC8DBE329</key>
	<string>park.png</string>
	<key>0D06E24C-C8F7-4236-94BF-64A06760B4A1</key>
	<string>school.png</string>
	<key>0D06E24C-C8F7-4236-94BF-64A06760B421</key>
	<string>translink.png</string>
	<key>8C4A5ECA-9A7F-4274-919E-A22D02BE9C71</key>
	<string>impark.png</string>
	<key>89BBDE65-B700-4473-8370-7239DA5CC98B</key>
	<string>impark.png</string>
	<key>B6CCD1E8-1D0B-45CF-9CAC-17CEA5529A4B</key>
	<string>mycommunity.png</string>
	<key>YourLandmarksFilter</key>
	<string>pin2.png</string>
</dict>
</plist>
