<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- CHANGEME: add your db connection string here -->
    <!--<add name="ODAF" connectionString="Server=tcp:gylv7r064f.database.windows.net,1433;Database=ogdifrancedatabase;User ID=frogdiserver@gylv7r064f;Password=OpenTurf14;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ODAF" connectionString="Server=tcp:gylv7r064f.database.windows.net,1433;Database=frogdidatabase;User ID=frogdiserver@gylv7r064f;Password=OpenTurf14;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ODAF" connectionString="server=.\SQLExpress;database=odaf;integrated security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>

