<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- CHANGEME: add your db connection string here -->
    <add name="ODAF" 
         connectionString="server=.\SQLExpress;database=odaf;integrated security=true;MultipleActiveResultSets=True;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

