	body
	{
		background-color: #C0C0C0;
	}
	
	label
	{
		font-weight: bold;
		margin-right: 10px;
	}
	
	.api_block 
	{
		margin: 10px 10px 10px 10px;
		padding: 10px 10px 10px 10px;
		background-color: white;
	}

	.api_url 
	{
		font-family: Verdana;
		font-weight: bold;
		font-size: 12pt;
		margin-bottom: 5px;
	}

	.api_description 
	{
		margin-left: 10px;
		font-family: Verdana;
		font-style: italic;
		font-size: 9pt;
	}